{% extends "base.html" %}

{% block title %}
Alterar Senha - ACVOC
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Alterar Senha</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning" role="alert">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('alterar_senha') }}" method="POST">
        <div class="mb-3">
            <label for="senha_atual" class="form-label">Senha Atual:</label>
            <input type="password" id="senha_atual" name="senha_atual" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="nova_senha" class="form-label">Nova Senha:</label>
            <input type="password" id="nova_senha" name="nova_senha" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="confirmar_nova_senha" class="form-label">Confirmar Nova Senha:</label>
            <input type="password" id="confirmar_nova_senha" name="confirmar_nova_senha" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Alterar Senha</button>
    </form>
</div>
{% endblock %}
