{% extends "base.html" %}

{% block title %}
Instalações - ACVOC
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Instalações</h2>
    <h4>Conheça nossas instalações:</h4>
    <div class="row">
        {% for instalacao in instalacoes %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/' + instalacao.imagem) }}" class="card-img-top" alt="{{ instalacao.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ instalacao.nome }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
