{% extends "base.html" %}

{% block title %}Modelos - ACVOC{% endblock %}

{% block content %}
    <h2 class="mb-4">Modelos para Download</h2>
    <div class="card">
        <div class="card-body">
            <p>Abaixo estão os modelos disponíveis para download:</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://drive.google.com/file/d/1UEPNcE_Ate3HZy8cGalcucXo801JkQpV/view?usp=drive_link " target="_blank">
                        Relação de Participantes
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://docs.google.com/document/d/1_WMj3zudNcl1PZDZGwHVbio-I13Zm879/edit?usp=drive_link&ouid=109892911674405657799&rtpof=true&sd=true " target="_blank">
                        Descritivo do Evento
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p>Porte do evento e ações a serem tomadas:</p>
            <ul>
                <li>A) Até 10 convidados: autorização do responsável, direto com os portões;</li>
                <li>B) De 11 a 20 convidados: enviar e-mail com a relação dos participantes e o descritivo do evento para <a href="mailto:credenciamento.gsdsp.basp@fab.mil.br">credenciamento.gsdsp.basp@fab.mil.br</a> e <a href="mailto:oberdanojs@fab.mil.br">oberdanojs@fab.mil.br</a> com dados do evento;</li>
                <li>C) A partir de 21 convidados: solicitar diretamente ao Cmt da BASP, via e-mail <a href="mailto:gab.cmt.basp@fab.mil.br">gab.cmt.basp@fab.mil.br</a> com 5 dias úteis de antecedência. Encaminhar a relação dos participantes e o descritivo do evento.</li>
            </ul>
        </div>
    </div>
{% endblock %}
